img {
    height: 30px;
}

.dropdown-icon {
    margin-left: auto;
}

.dropdown-title {
    align-items: center;
    display: flex;
    gap: 15px;
    width: 100%;
}

.dropdown-section-wrapper {
    align-items: start;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
    width: 500px;
}

.dropdown-list {
    width: 100%;
}

.dropdown-list.active {
    display: block;
}

.dropdown-list.inactive {
    display: none;
}
/* Add button styles */
button {
    transition: .1s;
}

button:hover {
    scale: 1.02;
}

.education-btn {
    background-color: blue;
    margin-top: 15px;
}

.education-btn.active {
    display: block;
}

.education-btn.inactive {
    display: none;
}