.item-top {
    display: flex;
    font-weight: 600;
    justify-content: space-between;
}

.item-bottom {
    display: flex;
    justify-content: space-between;
}

.title {
    font-weight: 500;
    font-style: italic;
}
