button {
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.1em;
    padding: 5px;
    transition: .1s;
    width: 100%;
}

button:hover {
    scale: 1.02;
}

label {
    display: block;
    font-weight: 500;
    margin: 5px 0px;
}

input {
    background-color: #f3f4f6;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
}

img {
    height: 30px;
}

h2 {
    align-items: center;
    display: flex;
    gap: 15px;
    margin: 0px;
}

form {
    width: 100%;
}

textarea {
    background-color: #f3f4f6;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    height: 125px;
    padding: 8px;
    resize: none;
    width: 100%;
}

.form-container {
    align-items: start;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 500px;
}

.date-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.buttons-wrapper {
    display: flex;
    box-sizing: border-box;
    gap: 25px;
    justify-content: space-between;
    margin-top: 15px;
    width: 100%;
}

.save-btn {
    background-color: green;
}

.delete-btn {
    background-color: red;
}