label {
    display: block;
    font-weight: 500;
    margin: 5px 0px;
}

input {
    background-color: #f3f4f6;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
}

h2 {
    margin: 0px;
}

form {
    width: 100%;
}

.general-container {
    align-items: start;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 500px;
}