h1, p {
    font-family: sans-serif;
}



.preview-wrapper {
    background-color: white;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 21cm;
    height: 29.7cm;
}

/* General Styles */
.general-section {
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.general-info {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin: 10px;
}

.general-info img {
    height: 1.5em;
}

.general-info p {
    align-items: center;
    display: flex;
    gap: 5px;
}

/* Education styles */
.education-section {
    padding: 25px;
}

/* Experience styles */
.experience-section {
    padding: 25px;
}