h1, p {
    font-family: serif;
}

.preview-wrapper {
    background-color: white;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 21cm;
    height: 29.7cm;
}

/* General Styles */
.general-section {
    box-sizing: border-box;
    padding: 25px;
    text-align: center;
}

.general-info {
    display: flex;
    gap: 25px;
    justify-content: center;
    margin: 10px;
}