.preview-wrapper {
    background-color: white;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 21cm;
    height: 29.7cm;
}

/* General Styles */
.general-section {
    box-sizing: border-box;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}

.general-info {
    display: flex;
    gap: 25px;
    justify-content: center;
    
}

.general-info img {
    height: 1.5em;
}

.general-info p {
    align-items: center;
    display: flex;
    gap: 5px;
}

/* Summary Styles */
.summary-section {
    padding: 25px;
}

.summary-section h2 {
    margin: 0px auto;
    width: fit-content;
}


/* Education styles */
.education-item-wrapper {
    margin-top: 15px;
}

.education-section {
    padding: 25px;
}

.education-section h2 {
    margin: 0px auto;
    width: fit-content;
}

/* Experience styles */
.experience-item-wrapper {
    margin-top: 15px;
}

.experience-section {
    padding: 25px;
}

.experience-section h2 {
    margin: 0px auto;
    width: fit-content;
}