.print-wrapper {
    align-items: start;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 25px;
    width: 500px;
}

.print-text {
    align-items: center;
    display: flex;
    gap: 15px;
    width: 100%;
}

button {
    background-color: blue;
    margin-top: 15px;
}

